## Pandas 中的数据索引和选择

### Series 中的数据选择

#### 字典式的数据选择

In [1]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0], 
                 index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [2]:
data['b']

0.5

In [3]:
'a' in data

True

In [4]:
data.keys()

Index(['a', 'b', 'c', 'd'], dtype='object')

In [5]:
data.items()

In [6]:
list(data.items())

[('a', 0.25), ('b', 0.5), ('c', 0.75), ('d', 1.0)]

像字典操作一样在Series中添加数据

In [7]:
data['e'] = 1.25

In [8]:
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

#### 一维数组式的数据选择

In [9]:
data['a': 'c'] # 注意，使用显式的index，前后索引都包含在结果中

a    0.25
b    0.50
c    0.75
dtype: float64

In [10]:
data[1: 3] # 注意，使用引式的数字索引，结果是前闭后开的形式

b    0.50
c    0.75
dtype: float64

In [11]:
data[(data > 0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [12]:
data[['a', 'e']]

a    0.25
e    1.25
dtype: float64

#### ``loc`` 和 ``iloc``

显式索引和隐式索引“冲突”的问题

In [13]:
data = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
data

1    a
3    b
5    c
dtype: object

In [14]:
data[1] # 取单独元素，使用显式索引

'a'

In [15]:
data[1:3] # 取切片，使用隐式索引

3    b
5    c
dtype: object

**``loc``永远使用显式索引**

In [16]:
data.loc[1]

'a'

In [17]:
data.loc[1:3]

1    a
3    b
dtype: object

**``iloc``永远使用显式索引**

In [18]:
data.iloc[1]

'b'

In [19]:
data.iloc[1:3]

3    b
5    c
dtype: object

通常认为：显式比隐式好

### DataFrame 中的数据选择

#### 字典式的数据选择

In [20]:
area = pd.Series({'California': 423967, 'Texas': 695662, 
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193, 
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
data

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135
New York    141297  19651127
Texas       695662  26448193

In [21]:
data['area']

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [22]:
data.area

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

In [23]:
data.area is data['area']

True

In [24]:
data.pop is data['pop'] # 因为pop是一个方法名

False

In [25]:
type(data.pop)

method

使用字典的方式为 DataFrame 添加一列数据

In [26]:
data['density'] = data['pop'] / data['area']

In [27]:
data

              area       pop     density
California  423967  38332521   90.413926
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

#### 二维数组式的数据选择

In [28]:
data.values

array([[4.23967000e+05, 3.83325210e+07, 9.04139261e+01],
       [1.70312000e+05, 1.95528600e+07, 1.14806121e+02],
       [1.49995000e+05, 1.28821350e+07, 8.58837628e+01],
       [1.41297000e+05, 1.96511270e+07, 1.39076746e+02],
       [6.95662000e+05, 2.64481930e+07, 3.80187404e+01]])

In [29]:
data.T

           California       Florida      Illinois      New York         Texas
area     4.239670e+05  1.703120e+05  1.499950e+05  1.412970e+05  6.956620e+05
pop      3.833252e+07  1.955286e+07  1.288214e+07  1.965113e+07  2.644819e+07
density  9.041393e+01  1.148061e+02  8.588376e+01  1.390767e+02  3.801874e+01

In [30]:
data.values[0] # 选择一行

array([4.23967000e+05, 3.83325210e+07, 9.04139261e+01])

In [31]:
data['area'] # 选择一列

California    423967
Florida       170312
Illinois      149995
New York      141297
Texas         695662
Name: area, dtype: int64

使用 **``iloc``** 和 **``loc``**

In [32]:
data.iloc[:3, :2]

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [33]:
data.loc[:'Illinois', :'pop']

              area       pop
California  423967  38332521
Florida     170312  19552860
Illinois    149995  12882135

In [34]:
data.loc[data.density > 100, ['pop', 'density']]

               pop     density
Florida   19552860  114.806121
New York  19651127  139.076746

In [35]:
data.iloc[0, 2] = 90
data

              area       pop     density
California  423967  38332521   90.000000
Florida     170312  19552860  114.806121
Illinois    149995  12882135   85.883763
New York    141297  19651127  139.076746
Texas       695662  26448193   38.018740

#### 注意

切片的选择方式都是选择行

In [36]:
data['Florida': 'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [37]:
data[1:3]

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

不过为了清晰起见，还是建议使用 **``loc``** 或者 **``iloc``**

In [38]:
data.loc['Florida': 'Illinois']

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

In [39]:
data.iloc[1:3]

            area       pop     density
Florida   170312  19552860  114.806121
Illinois  149995  12882135   85.883763

在DataFrame中使用masking的方式，也是基于行做选择的

In [40]:
data[data.density > 100]

            area       pop     density
Florida   170312  19552860  114.806121
New York  141297  19651127  139.076746